<a href="https://colab.research.google.com/github/otgontstsg/diveintocode-ml/blob/master/home_credit_risk_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem 1
Confirmation of competition contents

<b>What to learn and what to predict?</b> <br/>
Home Credit is the international finance provider company which provides loans to people with little or no credit history.<br/>
The company expects prediction result that can precisely evaluate the payment abilities of the loan takers, especially people with little or no credit history. <br/>
<br/>
<b>What kind of file to create and submit to Kaggle? </b><br/>
Submission should be in cvs file that contains predicted probabilities of the test samples. <br/>
<br/>
<b>What kind of index value will be used to evaluate the submissions?</b> <br/>
According to the prediction area under ROC curve will be used to evaluate the performance of the prediction. <br/>
True positive and false positive rate is used. <br/>

# Problem 2
Learning and verification

In [3]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
app_train = pd.read_csv('/content/drive/MyDrive/application_train.csv')
app_test = pd.read_csv('/content/drive/MyDrive/application_test.csv')
print(app_train.shape)
print(app_test.shape)

(307511, 122)
(48744, 121)

307k data for training and 48k data for testing.

In [5]:
app_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

<b> 65 features with floating point number </b> <br/>
<b> 41 features with integer number </b> <br/>
<b> 16 features with object type </b> <br/>

In [6]:
app_test.head(3)

   SK_ID_CURR  ... AMT_REQ_CREDIT_BUREAU_YEAR
0      100001  ...                        0.0
1      100005  ...                        3.0
2      100013  ...                        4.0

[3 rows x 121 columns]

In [7]:
missing = app_train.isnull().sum()
print("Max number of missing values in a certain feature:",missing.max())
print("Total number of missing values:",missing.sum())

Max number of missing values in a certain feature: 214865
Total number of missing values: 9152465

In [8]:
train = app_train.loc[:,missing.index[missing<10000]]
train.shape

(307511, 65)

In [9]:
test = app_test.loc[:,(missing.index[missing<10000]).drop('TARGET')]
test.shape

(48744, 64)

In [10]:
test_id=test['SK_ID_CURR']
test_id

0        100001
1        100005
2        100013
3        100028
4        100038
          ...
48739    456221
48740    456222
48741    456223
48742    456224
48743    456250
Name: SK_ID_CURR, Length: 48744, dtype: int64

In [11]:
miss = test.isnull().sum()
print("Max number of missing values in a certain feature:",miss.max())
print("Total number of missing values:",miss.sum())

Max number of missing values in a certain feature: 911
Total number of missing values: 1059

In [12]:
y_train = train.TARGET
x_train = train.drop(['TARGET'],axis=1)
print(y_train.shape)
x_train.shape

(307511,)

(307511, 64)

In [13]:
fdata = pd.concat([x_train,test])
wdata = pd.concat([x_train,test])
wdata.shape

(356255, 64)

In [14]:
col_obj = wdata.columns[wdata.dtypes == 'object']
for i in col_obj:
    wdata.loc[:,i],_ = pd.factorize(wdata.loc[:,i])
wdata.head(3)

   SK_ID_CURR  NAME_CONTRACT_TYPE  ...  FLAG_DOCUMENT_20  FLAG_DOCUMENT_21
0      100002                   0  ...                 0                 0
1      100003                   0  ...                 0                 0
2      100004                   1  ...                 0                 0

[3 rows x 64 columns]

In [15]:
data = wdata.fillna(0)

In [16]:
data = data.drop(['SK_ID_CURR'],axis=1)
xtrain = data.iloc[0:len(x_train),:]
xtest = data.iloc[len(x_train):len(data),:] 
print(xtrain.shape)
print(xtest.shape)

(307511, 63)
(48744, 63)

In [17]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler().fit(xtrain)
x_scaled = scaler.transform(xtrain)
x_scaled = pd.DataFrame(x_scaled)
x_scaled.isna().sum().sum()

0

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_val, Y_train, Y_val = train_test_split(x_scaled, y_train, test_size=0.2, random_state=18)
from sklearn.linear_model import LogisticRegression
lreg = LogisticRegression(max_iter=1000).fit(X_train, Y_train)

In [19]:
y_pred = lreg.predict_proba(X_val)
from sklearn.metrics import roc_auc_score
print("Validation ROC AUC:",roc_auc_score(Y_val, y_pred[:,1]))

Validation ROC AUC: 0.7003192342801926

# Problem 3

In [20]:
xs_test = scaler.transform(xtest)
y_pred = lreg.predict_proba(xs_test)
y=pd.DataFrame(y_pred[:,1])
y.columns=['TARGET']

In [21]:
outcome = pd.concat([test_id,y],axis=1)
outcome.head(3)

   SK_ID_CURR    TARGET
0      100001  0.036085
1      100005  0.167771
2      100013  0.038282

In [22]:
outcome.to_csv (r'/content/drive/MyDrive/pred_test.csv', index = False, header=True)

Uploaded csv file to Kaggle and resulted score of 0.68725

# Problem 4 
Check with different algorithm

In [23]:
import lightgbm as lgb
lgb_train = lgb.Dataset(data=X_train, label=Y_train)
lgb_eval = lgb.Dataset(data=X_val, label=Y_val)
params = {'task': 'train', 'boosting_type': 'gbdt', 'objective': 'binary', 'metric': 'auc', 
          'learning_rate': 0.01, 'num_leaves': 48, 'num_iteration': 5000, 'verbose': 0 ,
          'colsample_bytree':.8, 'subsample':.9, 'max_depth':7, 'reg_alpha':.1, 'reg_lambda':.1, 
          'min_split_gain':.01, 'min_child_weight':1}
model = lgb.train(params, lgb_train, valid_sets=lgb_eval, early_stopping_rounds=150, verbose_eval=200)

/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:118: UserWarning: Found `num_iteration` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

Training until validation scores don't improve for 150 rounds.
[200]	valid_0's auc: 0.707307
[400]	valid_0's auc: 0.714927
[600]	valid_0's auc: 0.718358
[800]	valid_0's auc: 0.720562
[1000]	valid_0's auc: 0.721764
[1200]	valid_0's auc: 0.722494
[1400]	valid_0's auc: 0.72297
[1600]	valid_0's auc: 0.723322
[1800]	valid_0's auc: 0.723511
[2000]	valid_0's auc: 0.723586
Early stopping, best iteration is:
[1862]	valid_0's auc: 0.723636

Method 2. use features with high corr coeffs

In [24]:
xtrain0 = wdata.iloc[0:len(x_train),:]
xtrain0=xtrain0.drop(['SK_ID_CURR'],axis=1)
fd = pd.concat([y_train,xtrain0],axis=1)
cormat = fd.corr()
vars = cormat.index[abs(cormat.TARGET)>0.01]
vars = vars.drop('TARGET') 
print(vars)
print(len(vars))

Index(['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'CNT_CHILDREN',
       'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_INCOME_TYPE',
       'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',
       'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'FLAG_EMP_PHONE',
       'FLAG_WORK_PHONE', 'FLAG_PHONE', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'HOUR_APPR_PROCESS_START',
       'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY',
       'LIVE_CITY_NOT_WORK_CITY', 'EXT_SOURCE_2', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_3',
       'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_16'],
      dtype='object')
33

In [25]:
fdata = wdata.loc[:,vars]
fdata = fdata.fillna(0)
xtrain = fdata.iloc[0:len(x_train),:]
xtest = fdata.iloc[len(x_train):len(fdata),:] 
print(xtrain.shape)
print(xtest.shape)
scaler = preprocessing.StandardScaler().fit(xtrain)
x_scaled = scaler.transform(xtrain)
x_scaled = pd.DataFrame(x_scaled)

(307511, 33)
(48744, 33)

In [26]:
X_train, X_val, Y_train, Y_val = train_test_split(x_scaled, y_train, test_size=0.2, random_state=18)
lreg = LogisticRegression(max_iter=1000).fit(X_train, Y_train)
y_pred = lreg.predict_proba(X_val)
print("Validation ROC AUC:",roc_auc_score(Y_val, y_pred[:,1]))

Validation ROC AUC: 0.6995116600012337

For training accuracy, it shows similar result compared to using 63 variables. <br/>

Method 3. Use different scaler for preprocessing.

In [27]:
scaler = preprocessing.MaxAbsScaler().fit(xtrain)
x_scaled = scaler.transform(xtrain)
x_scaled = pd.DataFrame(x_scaled)
X_train, X_val, Y_train, Y_val = train_test_split(x_scaled, y_train, test_size=0.2, random_state=18)
lreg = LogisticRegression(max_iter=1000).fit(X_train, Y_train)
y_pred = lreg.predict_proba(X_val)
print("Validation ROC AUC:",roc_auc_score(Y_val, y_pred[:,1]))

Validation ROC AUC: 0.6969146877886685

In [28]:
scaler = preprocessing.MinMaxScaler().fit(xtrain)
x_scaled = scaler.transform(xtrain)
x_scaled = pd.DataFrame(x_scaled)
X_train, X_val, Y_train, Y_val = train_test_split(x_scaled, y_train, test_size=0.2, random_state=18)
lreg = LogisticRegression(max_iter=1000).fit(X_train, Y_train)
y_pred = lreg.predict_proba(X_val)
print("Validation ROC AUC:",roc_auc_score(Y_val, y_pred[:,1]))

Validation ROC AUC: 0.6968895872303875

Method 4. Used SimpleImputer on missing values

In [29]:
wdata = pd.concat([x_train,test])
col_obj = wdata.columns[wdata.dtypes == 'object']
for i in col_obj:
    wdata.loc[:,i],_ = pd.factorize(wdata.loc[:,i])
wdata = wdata.drop(['SK_ID_CURR'],axis=1)
fdata = wdata.loc[:,vars]
print(fdata.isna().sum().sum())
fdata.head(3)

3083

   NAME_CONTRACT_TYPE  CODE_GENDER  ...  FLAG_DOCUMENT_13  FLAG_DOCUMENT_16
0                   0            0  ...                 0                 0
1                   0            1  ...                 0                 0
2                   1            0  ...                 0                 0

[3 rows x 33 columns]

In [30]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='mean').fit(fdata)
cols = fdata.columns
idata = imp.transform(fdata)
idata = pd.DataFrame(idata,columns=cols)

In [31]:
xtrain = idata.iloc[0:len(x_train),:]
xtest = idata.iloc[len(x_train):len(idata),:] 
scaler = preprocessing.StandardScaler().fit(xtrain)
x_scaled = scaler.transform(xtrain)
x_scaled = pd.DataFrame(x_scaled)
X_train, X_val, Y_train, Y_val = train_test_split(x_scaled, y_train, test_size=0.2, random_state=18)
lreg = LogisticRegression(max_iter=1000).fit(X_train, Y_train)
y_pred = lreg.predict_proba(X_val)
print("Validation ROC AUC:",roc_auc_score(Y_val, y_pred[:,1]))

Validation ROC AUC: 0.6997805150295527

Method 5. other algorithm (I have no other preprocessing or feature choosing ideas)

In [34]:
from sklearn.ensemble import RandomForestClassifier
RF = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=0).fit(X_train, Y_train)
y_pred = RF.predict_proba(X_val)
print("Validation ROC AUC:",roc_auc_score(Y_val, y_pred[:,1]))

Validation ROC AUC: 0.671551649281223