In [4]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

#Problem 1
train_test_split Scratch

In [14]:
def scratch_train_test_split(X, y, rand_state, train_size=0.8):
    """Divide the validation data.
    X_train : ndarray
      Training data (n_samples, n_features)
    X_test : ndarray
      Validation data (n_samples, n_features)
    y_train : ndarray
      Correct answer value of training data (n_samples,)
    y_test : ndarray
      Correct value of verification data (n_samples,)
    """
    # Write code here
    if len(X) != len(y):
            raise ValueError("X and y should be same lenght")
    temp = pd.concat([X,y],axis=1)
    data = temp.sample(frac=1,axis=0,random_state=rand_state) 
    train_idx = int(train_size * len(data))
    train_set = data[:train_idx]
    test_set = data[train_idx:]
    X_train = train_set.iloc[:,:-1] 
    X_test = test_set.iloc[:,:-1]
    y_train = train_set.iloc[:,-1:] 
    y_test = test_set.iloc[:,-1:]
    return X_train, X_test, y_train, y_test

In [28]:
from sklearn.datasets import load_iris
data = load_iris()
X=pd.DataFrame(data.data)
y=pd.DataFrame(data.target)
X.columns = [s.strip(' (cm)') for s in data.feature_names]
y.columns = ["species"]
df = pd.concat([X,y],axis=1)
print(df.shape)
df.head(3)

(150, 5)

   sepal length  sepal width  petal length  petal width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0

In [34]:
# tested the user function on iris dataset split
X_train, X_test, y_train, y_test = scratch_train_test_split(X, y, rand_state=2, train_size=0.8)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(120, 4)
(30, 4)
(120, 1)
(30, 1)

In [35]:
# split using sklearn
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(120, 4)
(30, 4)
(120, 1)
(30, 1)

#Problem 2
Creating code to solve the classification problem

In [36]:
data = df.loc[df['species'].isin([1, 2]),:].reset_index(drop=True)
data.loc[data.species == 2,'species'] = 0
print(data.shape)
data.tail(3)

(100, 5)

    sepal length  sepal width  petal length  petal width  species
97           6.5          3.0           5.2          2.0        0
98           6.2          3.4           5.4          2.3        0
99           5.9          3.0           5.1          1.8        0

In [37]:
X1 = data.drop(['species'],axis=1)
y1 = data.iloc[:,-1]
print(X1.shape)
print(y1.shape)

(100, 4)
(100,)

In [47]:
# dataset 2
np.random.seed(seed=0)
n_samples = 500
f0 = [-1, 2]
f1 = [2, -1]
cov = [[1.0,0.8], [0.8, 1.0]]
f0 = np.random.multivariate_normal(f0, cov, n_samples // 2)
f1 = np.random.multivariate_normal(f1, cov, n_samples // 2)
X2 = np.concatenate([f0, f1])
y2 = np.concatenate([
    np.full(n_samples // 2, 1),
    np.full(n_samples // 2, -1)
])
X2 = pd.DataFrame(X2)
y2 = pd.DataFrame(y2)
print(X2.shape)
print(y2.shape)

(500, 2)
(500, 1)

In [48]:
# dataset3
X3 = np.array([
    [-0.44699 , -2.8073  ],[-1.4621  , -2.4586  ],
    [ 0.10645 ,  1.9242  ],[-3.5944  , -4.0112  ],
    [-0.9888  ,  4.5718  ],[-3.1625  , -3.9606  ],
    [ 0.56421 ,  0.72888 ],[-0.60216 ,  8.4636  ],
    [-0.61251 , -0.75345 ],[-0.73535 , -2.2718  ],
    [-0.80647 , -2.2135  ],[ 0.86291 ,  2.3946  ],
    [-3.1108  ,  0.15394 ],[-2.9362  ,  2.5462  ],
    [-0.57242 , -2.9915  ],[ 1.4771  ,  3.4896  ],
    [ 0.58619 ,  0.37158 ],[ 0.6017  ,  4.3439  ],
    [-2.1086  ,  8.3428  ],[-4.1013  , -4.353   ],
    [-1.9948  , -1.3927  ],[ 0.35084 , -0.031994],
    [ 0.96765 ,  7.8929  ],[-1.281   , 15.6824  ],
    [ 0.96765 , 10.083   ],[ 1.3763  ,  1.3347  ],
    [-2.234   , -2.5323  ],[-2.9452  , -1.8219  ],
    [ 0.14654 , -0.28733 ],[ 0.5461  ,  5.8245  ],
    [-0.65259 ,  9.3444  ],[ 0.59912 ,  5.3524  ],
    [ 0.50214 , -0.31818 ],[-3.0603  , -3.6461  ],
    [-6.6797  ,  0.67661 ],[-2.353   , -0.72261 ],
    [ 1.1319  ,  2.4023  ],[-0.12243 ,  9.0162  ],
    [-2.5677  , 13.1779  ],[ 0.057313,  5.4681  ],
])
y3 = np.array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])
X3 = pd.DataFrame(X3)
y3 = pd.DataFrame(y3)
print(X3.shape)
print(y3.shape)

(40, 2)
(40, 1)

In [49]:
# train and test split using user function
X1_train, X1_test, y1_train, y1_test = scratch_train_test_split(X1, y1, rand_state=2, train_size=0.8)
print(len(X1_train),len(X1_test))
X2_train, X2_test, y2_train, y2_test = scratch_train_test_split(X2, y2, rand_state=2, train_size=0.8)
print(len(X2_train),len(X2_test))
X3_train, X3_test, y3_train, y3_test = scratch_train_test_split(X3, y3, rand_state=2, train_size=0.8)
print(len(X3_train),len(X3_test))

80 20
400 100
32 8

In [59]:
logreg = []
# method 1
from sklearn.linear_model import SGDClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.metrics import accuracy_score
model1 = make_pipeline(StandardScaler(),SGDClassifier(max_iter=1000, tol=1e-3)).fit(X1_train,y1_train.values.ravel())
logreg.append(accuracy_score(y1_test,model1.predict(X1_test)))
model1 = make_pipeline(StandardScaler(),SGDClassifier(max_iter=1000, tol=1e-3)).fit(X2_train,y2_train.values.ravel())
logreg.append(accuracy_score(y2_test,model1.predict(X2_test)))
model1 = make_pipeline(StandardScaler(),SGDClassifier(max_iter=1000, tol=1e-3)).fit(X3_train,y3_train.values.ravel())
logreg.append(accuracy_score(y3_test,model1.predict(X3_test)))
logreg

[0.9, 1.0, 0.5]

In [60]:
svc = []
# method 2
from sklearn.svm import SVC
model2 = make_pipeline(StandardScaler(), SVC(gamma='auto')).fit(X1_train, y1_train.values.ravel())
svc.append(accuracy_score(y1_test,model2.predict(X1_test)))
model2 = make_pipeline(StandardScaler(), SVC(gamma='auto')).fit(X2_train, y2_train.values.ravel())
svc.append(accuracy_score(y2_test,model2.predict(X2_test)))
model2 = make_pipeline(StandardScaler(), SVC(gamma='auto')).fit(X3_train, y3_train.values.ravel())
svc.append(accuracy_score(y3_test,model2.predict(X3_test)))
svc

[0.9, 1.0, 0.375]

In [61]:
dtree = []
#method 3
from sklearn.tree import DecisionTreeClassifier
model3 = DecisionTreeClassifier(random_state=0).fit(X1_train, y1_train.values.ravel())
dtree.append(accuracy_score(y1_test,model3.predict(X1_test)))
model3 = DecisionTreeClassifier(random_state=0).fit(X2_train, y2_train.values.ravel())
dtree.append(accuracy_score(y2_test,model3.predict(X2_test)))
model3 = DecisionTreeClassifier(random_state=0).fit(X3_train, y3_train.values.ravel())
dtree.append(accuracy_score(y3_test,model3.predict(X3_test)))
dtree

[0.9, 1.0, 0.5]

In [65]:
# accuracy of 3 methods on 3 datasets
acc = pd.concat([pd.DataFrame(logreg),pd.DataFrame(svc),pd.DataFrame(dtree)],axis=1)
acc.columns = ['LR','SVC','DTree']
acc.index=['iris','ds1','ds1']
acc

       LR    SVC  DTree
iris  0.9  0.900    0.9
ds1   1.0  1.000    1.0
ds1   0.5  0.375    0.5

# Problem 3

In [66]:
train = pd.read_csv('/content/drive/MyDrive/ColabData/train.csv')
data = train.loc[:,['GrLivArea','YearBuilt','SalePrice']]
print(data.shape)
data.head(3)

(1460, 3)

   GrLivArea  YearBuilt  SalePrice
0       1710       2003     208500
1       1262       1976     181500
2       1786       2001     223500

In [70]:
X_train, X_test, y_train, y_test = scratch_train_test_split(data.loc[:,['GrLivArea','YearBuilt']], data.loc[:,'SalePrice'], rand_state=2, train_size=0.8)
print(len(X_train),len(X_test))
from sklearn.linear_model import SGDRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
reg = make_pipeline(StandardScaler(),SGDRegressor(max_iter=1000, tol=1e-3)).fit(X_train, y_train.values.ravel())
y_pred = reg.predict(X_test)
print("Mean absolute error:",mean_absolute_error(y_test, y_pred))
print("R2 of testing",r2_score(y_test, y_pred))

1168 292
Mean absolute error: 28300.810494638106
R2 of testing 0.6633065187626935